{% load widget_tweaks %}
<h1 class="text-2xl mb-4">
    Import transactions
</h1>
<form hx-encoding='multipart/form-data' hx-post='{% url "import-transactions" %}' >
    <input type="file" name="file" class="file-input file-input-success text-black" accept=".csv"/>
    <button class="btn btn-success">
        Import
    </button>
     <button class="btn btn-error" hx-get="{% url 'transactions-list' %}" hx-target = "#transaction-block" hx-push-url="/transactions">
        Cancel
    </button>
</form>