{% load widget_tweaks %}
{% load humanize %}

<div class="flex flex-col-reverse md:grid md:grid-cols-4 gap-4" id="transaction-container" >
        <div class="col-span-3"> 
            <div class="my-4">
                <h1 class="my-4 text-xl font-bold text-white">
                    Totals
                </h1>
                <table class="table w-full border-collapse border border-gray-600">
                    <thead class="text-sm text-white uppercase">
                    <tr>
                        <th class="px-4 py-2 border-2 border-gray-400">Total Income</th>
                        <th class="px-4 py-2 border-2 border-gray-400">Total Expenses</th>
                        <th class="px-4 py-2 border-2 border-gray-400">Net</th>
                    </tr>
                    </thead>
                     <tbody>
                    <tr>
                        <th class="px-4 py-2 text-green-400 border border-gray-600">₹{{total_income|floatformat:2|intcomma}}</th>
                        <td class="px-4 py-2 text-red-400 border border-gray-600">₹{{total_expenses|floatformat:2|intcomma}}</td>
                        <td class="px-4 py-2 text-blue-400 border border-gray-600">₹{{net_income|floatformat:2|intcomma}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
                <h1 class="my-4 text-xl font-bold text-white">
                   Transactions
                </h1>
                {% if filter.qs %}
                <table class="table border-collapse border border-gray-600">
                    <thead class="text-sm text-white uppercase">
                    <tr>
                        <th class="border-2 border-gray-400">Date</th>
                        <th class="border-2 border-gray-400">Category</th>
                        <th class="border-2 border-gray-400">Type</th>
                        <th class="border-2 border-gray-400">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for transaction in filter.qs %}
                    <tr>
                        <th class="border border-gray-600">{{transaction.date}}</th>
                        <td class="border border-gray-600">{{transaction.category}}</td>
                        <td class="border border-gray-600">{{transaction.type}}</td>
                        <td class="border border-gray-600">₹{{transaction.amount|floatformat:2}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% else %}
                    <p class="text-2xl text-white">
                        No transactions found!
                    </p>
                {% endif %}
        </div>
         <div class="col-span-1"> 
                <form hx-get="{% url "transactions-list" %}"
                    hx-target="#transaction-container"
                    hx-swap="outerHTML"
                >
                    <div class="mb-2 form-control"> 
                        {{ filter.form.transaction_type | add_label_class:"label text-white" }}
                        {% render_field filter.form.transaction_type class="select bg-gray-50 text-gray-900" %}
                    </div>
                     <div class="mb-2 form-control"> 
                        {{ filter.form.start_date | add_label_class:"label text-white" }}
                        {% render_field filter.form.start_date class="input bg-gray-50 text-gray-900" %}
                    </div>
                     <div class="mb-2 form-control"> 
                        {{ filter.form.end_date | add_label_class:"label text-white" }}
                        {% render_field filter.form.end_date class="input bg-gray-50 text-gray-900" %}
                    </div>
                     <div class="mb-2 form-control"> 
                         {{ filter.form.category | add_label_class:"label text-white" }}
                        {% render_field filter.form.category class="bg-gray-50 text-gray-900 pl-4 rounded-sm" %}
                    </div>
                    <button class="btn btn-success">
                        Filter
                    </button>
                </form>
        </div>
</div>