{% load widget_tweaks %}
{% load humanize %}

<div class="flex flex-col-reverse md:grid md:grid-cols-4 gap-4" id="transaction-container" >
        <div class="col-span-3"> 
            <div class="my-4">
                <h1 class="my-4 text-xl font-bold text-white">
                    Totals
                </h1>
                <table class="table w-full border-collapse border border-gray-600">
                    <thead class="text-sm text-white uppercase">
                    <tr>
                        <th class="px-4 py-2 border-2 border-gray-400">Total Income</th>
                        <th class="px-4 py-2 border-2 border-gray-400">Total Expenses</th>
                        <th class="px-4 py-2 border-2 border-gray-400">Net</th>
                    </tr>
                    </thead>
                     <tbody>
                    <tr>
                        <th class="px-4 py-2 text-green-400 border border-gray-600">₹{{total_income|floatformat:2|intcomma}}</th>
                        <td class="px-4 py-2 text-red-400 border border-gray-600">₹{{total_expenses|floatformat:2|intcomma}}</td>
                        <td class="px-4 py-2 text-blue-400 border border-gray-600">₹{{net_income|floatformat:2|intcomma}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="flex flex-row items-center justify-between">
                 <h1 class="my-4 text-xl font-bold text-white">
                   Transactions
                </h1>
                <a  hx-get="{% url 'create-transaction' %}"
                    hx-push-url = "true"
                    hx-target = "#transaction-block"
                    class="cursor-pointer"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="green" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
                         <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                </a>
            </div>
               
                {% if filter.qs %}
                <table class="table border-collapse border border-gray-600">
                    <thead class="text-sm text-white uppercase">
                    <tr>
                        <th class="border-2 border-gray-400">Date</th>
                        <th class="border-2 border-gray-400">Category</th>
                        <th class="border-2 border-gray-400">Type</th>
                        <th class="border-2 border-gray-400">Amount</th>
                        <th class="border-2 border-gray-400">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for transaction in filter.qs %}
                    <tr>
                        <th class="border border-gray-600">{{transaction.date}}</th>
                        <td class="border border-gray-600">{{transaction.category}}</td>
                        <td class="border border-gray-600">{{transaction.type}}</td>
                        <td class="border border-gray-600">₹{{transaction.amount|floatformat:2}}</td>
                        <td class="border border-gray-600 flex justify-between">
                            <a hx-get="{% url 'update-transaction' transaction.pk %}"
                                hx-push-url="true"
                                hx-target="#transaction-block"
                                class="cursor-pointer"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                </svg>
                            </a>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                            </svg>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% else %}
                    <p class="text-2xl text-white">
                        No transactions found!
                    </p>
                {% endif %}
        </div>
         <div class="col-span-1"> 
                <form hx-get="{% url "transactions-list" %}"
                    hx-target="#transaction-container"
                    hx-swap="outerHTML"
                >
                    <div class="mb-2 form-control"> 
                        {{ filter.form.transaction_type | add_label_class:"label text-white" }}
                        {% render_field filter.form.transaction_type class="select bg-gray-50 text-gray-900" %}
                    </div>
                     <div class="mb-2 form-control"> 
                        {{ filter.form.start_date | add_label_class:"label text-white" }}
                        {% render_field filter.form.start_date class="input bg-gray-50 text-gray-900" %}
                    </div>
                     <div class="mb-2 form-control"> 
                        {{ filter.form.end_date | add_label_class:"label text-white" }}
                        {% render_field filter.form.end_date class="input bg-gray-50 text-gray-900" %}
                    </div>
                     <div class="mb-2 form-control"> 
                         {{ filter.form.category | add_label_class:"label text-white" }}
                        {% render_field filter.form.category class="bg-gray-50 text-gray-900 pl-4 rounded-sm" %}
                    </div>
                    <button class="btn btn-success">
                        Filter
                    </button>
                </form>
        </div>
</div>